body {
    background-color: black;
    background-image: url(./images/skullBack.jpeg);
    background-repeat: no-repeat;
    
}
h1, h2 {
    padding: 10px;
   
    position: relative;
    color: white;
}
p {
    color: white;
}
.divText {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.divYoutube {
    padding-left: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
